h1 {
  text-align: center;
  color: greenyellow;
  font-size: 80px;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.grid {
  position: relative;
  width: 560px;
  height: 300px;
  border: solid black 1px;
  background-color: greenyellow;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: black;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: black;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}

#score {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: greenyellow;
  font-size: 35px;
}
